apiVersion: v1
kind: Service
metadata:
  name: todo-microservice
  labels:
    app: todo-microservice
spec:
  type: LoadBalancer
  ports:
  - port: 80
    targetPort: 8080
    protocol: TCP
    name: http
  selector:
    app: todo-microservice
